<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write - Freely</title>

    <link rel="stylesheet" href="assets/CSS/css1.css" />
  </head>
  <body>
    <header class="head">
      <div class="logo-box">
        <img src="assets/CSS/logo-white.png" alt="logo not found" class="logo ">
      </div >

      <div class="text-box">
        <h1 class="heading-primary">
                <span class="heading1"> write-freely] </span>
                <span class="heading2"> Express Your Thoughts, Your Way</span>
        </h1>
      </div>
      <a href="https://write-freely-harsh.herokuapp.com/post" class="btn btn-white btn-animated">POST</a>
      <a href="https://write-freely-harsh.herokuapp.com/data" class="btn1 btn1-white btn1-animated">BROWSE</a>
    <div class="about">
      <div class="about1">
      <h1>Made by : Harshvardhan</h1>
      <h1>Trying to build a place where you can write freely !!</h1>
    </div>
      <a href="https://github.com/HarshV27" class="Github">Github profile</a>
    
    </div>
  </header>
  </body>
</html>
